@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-gray-50;
    }

    body {
        font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    }

    @font-face {
        font-family: "Plus Jakarta Sans";
        font-weight: 1 999;
        font-display: optional;
        src: url("/fonts/PlusJakartaSans.woff2") format("woff2");
    }
}
