@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-inherit no-underline;
  }

  * {
    @apply font-jakarta p-0 m-0 box-border;
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 300;
    src: url("/fonts/PlusJakartaSans-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    src: url("/fonts/PlusJakartaSans-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    src: url("/fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    src: url("/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    src: url("/fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  }
}